.galleri{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 22px;
    gap: 22px;
}

.galleri article{
    text-align: center;
    max-width: 370px;
}


.galleri img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    align-items: center;

}


@media (max-width: 768px){
    .galleri{
        flex-direction: column;
        align-items: center;
    }
}
